<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>Cars</title>
    </head>

    <body>
        <h2 th:align="center">Cars</h2><hr>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Model</th>
                    <th>Series</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cr : ${carList}">
                    <td th:text="${cr.getName()}"></td>
                    <td th:text="${cr.getModel()}"></td>
                    <td th:text="${cr.getSeries()}"></td>
                </tr>
            </tbody>
        </table>
    </body>

</html>
